<!DOCTYPE html>
<html lang="en" >
  <head>
    <title>Awi Admin</title>
    <meta charset="utf-8">
    <meta name="description" content="Aplikasi AWI Realtime Lelang Menggunakan Framework ExpressJS dan Realtime Database Firebase">
    <meta name="author" content="Muhammad Abubakar Siddiq - MAS Abbe">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel='stylesheet' href='/stylesheets/login.css'/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome.min.css">>
  </head>
  <body ng-app="myAdmin">
    <div class="container">
      <div class="profile">
          <button class="profile__avatar" id="btn_avatar">
            <img src="/images/avatar.png" alt="Avatar" />
          </button>
        <div class="profile__form">
          <div class="profile__fields">
          <h3 class="text-center">Welcome Admin Lelang</h3>
            <form name="login-form" role="form" ng-controller="loginCtrl" novalidate>
              <div class="fields">
                <input type="text" class="input" placeholder="Username" ng-model="user.email" required/>
                <span style="color:red" ng-show="login-form.email.$dirty && login-form.user.$invalid">
                  <span ng-show="login-form.email.$error.required">Username is required.</span>
                </span>
              </div>
              <div class="fields">
                <input type="password" class="input" required-pattern=.*\S.* placeholder="password" ng-model="user.password"/>
                <span style="color:red" ng-show="login-form.password.$dirty && login-form.user.$invalid">
                  <span ng-show="login-form.password.$error.required">Password is required.</span>
                </span>
              </div>
              <div class="alert alert-warning" ng-show="login-form.email.$error.email">
                <em class="fa fa-lg fa-warning">&nbsp;</em>Peringatan, username atau password salah
              </div>
              <div class="profile__footer">
                <center>
                  <button class="btn" id="btn-submit" ng-click="login()">LOG IN</button>
                </center>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script>
      document.getElementById('btn_avatar').addEventListener('click', 
        function () {
          [].map.call(document.querySelectorAll('.profile'),
          function(el) {
            el.classList.toggle('profile--open');
          });
        }
      );
    </script>
    <!-- JQuery -->
    <script type="text/javascript" src = "/javascripts/jquery-1.11.1.min.js"></script>
    <!-- Bootstrap -->
    <script type="text/javascript" src = "/javascripts/bootstraps/bootstrap.min.js"></script>
    <!-- AngularJS-->    
    <script src="/javascripts/angular/angular.min.js"></script>
    <script src="/javascripts/angular-resource/angular-resource.min.js"></script>
    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/5.3.1/firebase.js"></script>
    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/2.2.0/angularfire.min.js"></script>
    <!--Init App-->
    <script>
      // Initialize Firebase
      var config = {
        apiKey            : "AIzaSyDpUBV22Huscn6XfAF2Td2Ot4A_edEx71A",
        authDomain        : "awirealtimelelang.firebaseapp.com",
        databaseURL       : "https://awirealtimelelang.firebaseio.com",
        projectId         : "awirealtimelelang",
        storageBucket     : "awirealtimelelang.appspot.com",
        messagingSenderId : "279363412175"
      };
      firebase.initializeApp(config);
    </script>
    <script type="text/javascript" src = "/javascripts/login.js"></script>
  </body>
</html>
